@using Jin.RazorWeb.Model
@using Jin.RazorWeb.DAL
@{
    int id = Convert.ToInt32(Request.QueryString["id"]);
    Video video = VideoService.GetVideo(id);
    List<VideoComment> comments = VideoCommentService.GetVideoComments(id);
    Page.Title = video.Title;
    Layout = "~/Layout/_Layout1.cshtml";
}

<div>
    <div>
        <h2>@video.Title</h2>
        <input type="hidden" id="videoId" value="@video.Id" />
        <p>上传：<a href="#">@video.UploadUser</a> <span>上传时间：@video.UploadTime.ToLongDateString()</span></p>
        <video controls="controls" autoplay="autoplay" width="280">
            <source src="@video.Url" type="video/mp4" />
        </video>
        <p><span style="color:#ff0000;">赞(@video.LikeCount)</span></p>
    </div>
    <div>
        <textarea style="width:280px;height:100px;" placeholder="输入你的评论，请文明用语" id="commentContent"></textarea>
        <br />
        <button id="btn-comment">提交评论</button>
    </div>
    <hr />
    <h4>所有评论</h4>
    <div id="comment-list">
        @*@if (comments.Count > 0)
        {
            foreach (VideoComment comment in comments)
            {
                <div>
                    <p style="font-size:12px">
                        <a href="#">@comment.User</a> 
                        <span style="color:#cccccc">@comment.CommentTime</span>
                    </p>
                    <p style="padding-left:4px">@comment.Content</p>
                    <hr />
                </div>
            }
        }*@
    </div>
</div>

<script>
    loadComments();

    $('#btn-comment').click(function () {
        var commentContent = $('#commentContent').val();
        if (commentContent == "") {
            alert('请输入评论内容');
            return;
        }
        $.post('Ashx//VideoComment.ashx', commentContent, function (data) {
            
        });
    });

    //加载评论的方法
    function loadComments() {
        var videoId = $('#videoId').val();
        //$('#comment-list').empty();
        $.get('Ashx//VideoComments.ashx?videoId=' + videoId, function (data) {
            var comment_json = JSON.parse(data);
            $.each(comment_json, function (i, cmt) {
                $('#comment-list').append('<div><p style="font-size:12px"><a href="#">' + cmt['User'] +
                    '</a> <span style="color:#cccccc">' + cmt['CommentTime'] +
                    '</span></p><p style="padding-left:4px">' + cmt['Content'] + '</p></div><hr />');
            });
        });
    }
</script>