@using Jin.RazorWeb.Model
@using Jin.RazorWeb.DAL
@{
    int id = Convert.ToInt32(Request.QueryString["id"]);
    VideoService.IncreaseViewCount(id);
    Video video = VideoService.GetVideo(id);
    List<VideoComment> comments = VideoCommentService.GetVideoComments(id);
    Page.Title = video.Title;
    Layout = "~/Layout/_Layout1.cshtml";
}

<div style="margin-left:2px;">
    @if (Session["CurrentUser"] != null)
    {
        <input type="hidden" id="currentUser" value="@Session["CurrentUser"].ToString()" />
    }
    else
    {
        <input type="hidden" id="currentUser" value="" />
    }
    <div>
        <h2>@video.Title</h2>
        <input type="hidden" id="videoId" value="@video.Id" />
        <p style="color:#aaaaaa;font-size:12px;">上传：<a href="#">@video.UploadUser</a> <span>上传时间：@video.UploadTime.ToLongDateString()</span> <span>播放：@video.PlayCount</span></p>
        <hr />
        <video controls="controls" autoplay="autoplay" width="280">
            <source src="@video.Url" type="video/mp4" />
        </video>
        <p style="text-align:right;">
            <span style="color:#ff006e;cursor:pointer;font-weight:900;font-size:16px;" id="likedCount">赞[@video.LikeCount]</span>
        </p>
    </div>
    <div>
        <textarea style="width:280px;height:100px;" placeholder="输入你的评论，请文明用语" id="commentContent"></textarea>
        <br />
        <button id="btn-comment">提交评论</button>
    </div>
    <hr />
    <h4>@comments.Count 条评论</h4>
    <div id="comment-list">
    </div>
</div>

<script>
    loadComments();

    $('#btn-comment').click(function () {
        if ($('#currentUser').val() == "") {
            alert('请先登录账号');
            return;
        }
        var commentContent = $('#commentContent').val();
        var videoId = $('#videoId').val();
        if (commentContent == "") {
            alert('请输入评论内容');
            return;
        }
        $.post('Ashx//VideoComments.ashx', {
            videoId: videoId,
            commentContent: commentContent,
            act: 'create'
        }, function (data) {
            if (data == '评论成功') {
                loadComments();
                $('#commentContent').val('');
            } else {
                alert('评论失败,服务器错误');
            }
        });
    });

    $('#likedCount').click(function () {
        $.post('Ashx//IncreaseLikeCount.ashx', { id: $('#videoId').val() }, function (data) {
            if (data === 'ok') {
            } else {
                alert('服务器错误');
                return;
            }
        });
    });

    //加载评论的方法
    function loadComments() {
        $('#comment-list').empty();
        var videoId = $('#videoId').val();
        $.get('Ashx//VideoComments.ashx?act=get&videoId=' + videoId, function (data) {
            var comment_json = JSON.parse(data);
            $.each(comment_json, function (i, cmt) {
                $('#comment-list').append('<div id="comment' + cmt['Id'] + '"><p><a href="#">' + cmt['CommentUser'] +
                    '</a></p><p style="padding-left:10px">' + cmt['Content'] +
                    '</p><p> <span style="color:#bbbbbb">' + cmt['CommentTime'] +
                    '</span> <span id="cmt' + cmt['Id'] + '" cmtuser="' + cmt["CommentUser"] +
                    '" currentuser="' + $('#currentUser').val() +
                    '" style="color:#ff6a00;cursor:pointer;width:auto;height:auto;">回复</span></p></div><hr />').css('background-color', '#f6def7');
                loadReply(cmt["Id"]);
                $('#cmt' + cmt['Id']).click(function () {
                    replyToComment(cmt["Id"]);
                });
            });
        });
    }
    //回复用户的评论
    function replyToComment(cmtId) {
        if ($('#currentUser').val() == '') {
            alert('请先登录账号');
            return;
        }
        var cmtUser = $('#cmt' + cmtId).attr('cmtuser');
        var replyDiv = $('<div></div>');
        var textArea = $('<textarea placeholder="回复' + cmtUser + '"></textarea>');
        var btnReply = $('<span>提交</span>');
        replyDiv.css('padding-left', '20px');
        textArea.css('width', '280px').css('height', '100px');
        btnReply.css('cursor', 'pointer').css('color','#ff6a00');
        replyDiv.append(textArea).append(btnReply);
        $('#comment' + cmtId).append(replyDiv);
        replyDiv.css('display', 'block');
        textArea.focus();
        btnReply.click(function () {
            if (textArea.val() == '') {
                alert('请输入回复内容');
                return;
            }
            var replyContent = textArea.val();
            $.post('Ashx//VideoCommentReply.ashx',
                {
                    commentId: cmtId,
                    commentUser: cmtUser,
                    replyContent: replyContent,
                    act: 'create'
                }, function (data) {
                    if (data == "回复成功") {
                        replyDiv.css('display', 'none');
                        $('#comment' + cmtId).children().children().children().empty();
                        loadReply(cmtId);
                    }
                });
        });
    }
    //回复用户的回复
    function replyToReply(cmtId, replyUser) {
        if ($('#currentUser').val() == '') {
            alert('请先登录账号');
            return;
        }
        var replyDiv = $('<div></div>');
        var textArea = $('<textarea placeholder="回复' + replyUser + '"></textarea>');
        var btnReply = $('<span>提交</span>');
        replyDiv.css('padding-left', '20px');
        textArea.css('width', '280px').css('height', '100px');
        btnReply.css('cursor', 'pointer').css('color', '#ff6a00');
        replyDiv.append(textArea).append(btnReply);
        $('#comment' + cmtId).append(replyDiv);
        replyDiv.css('display', 'block');
        textArea.focus();
        btnReply.click(function () {
            if (textArea.val() == '') {
                alert('请输入回复内容');
                return;
            }
            var replyContent = textArea.val();
            $.post('Ashx//VideoCommentReply.ashx',
                {
                    commentId: cmtId,
                    commentUser: replyUser,
                    replyContent: replyContent,
                    act: 'create'
                }, function (data) {
                    if (data == "回复成功") {
                        replyDiv.css('display', 'none');
                        $('.reply' + replyUser).empty();
                        loadReply(cmtId);
                    }
                });
        });
    }

    //加载回复
    function loadReply(cmtId) {
        $.get('Ashx//VideoCommentReply.ashx?act=get&commentId=' + cmtId, function (data) {
            var json_replies = JSON.parse(data);
            $.each(json_replies, function (i, reply) {
                $('#comment' + cmtId).append('<div class="reply' + reply['ReplyUser'] + '"><p style="padding-left:20px;"><a href="#">' +
                    reply['ReplyUser'] + '</a>回复<a href="#">' + reply['ToUser'] + '</a>: ' + reply['Content'] +
                    '</p><p style="padding-left:20px;margin-bottom:4px;"><span style="color:#bbbbbb;">' + reply['ReplyTime'] +
                    '</span> <span id="reply' + reply['Id'] + '" replyuser="' + reply['ReplyUser'] + '" style="color:#ff6a00;cursor:pointer;width:auto;height:auto;">回复</span></p></div>');
                $('#reply' + reply['Id']).click(function () {
                    replyToReply(cmtId, reply['ReplyUser']);
                });
            });
        });
    }
</script>